

body{
	font-family: 'Roboto Condensed', sans-serif;
	width:100%;
	background-color: gray;
}
header{
	background-image: url('images/headerimg.png');
	color: #FFF;
	padding: 5em 0em 5em 5em;
	
}

.movieinfo{
	background-color: red;
	border-style: solid;
	padding: 1em 1em 1em 1em;

}